
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
  background-color: #4CD4E8
}
.header h1 {
  font-family: 'Lobster', cursive;
  color: #E80018;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 100%);
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 844px;
}

